﻿<form id="frmPelicula" data-idpelicula="0" data-accion="nuevo">
    <div class="card text-bg-dark mb-3" style="width: 900px">
        <div class="card-header">
            <div class="d-flex">
                Registro de Pelicula
                <div class="ms-auto">
                    <button type="button" data-form="pelicula" class="btn-close btn-close-white"></button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row p-1">
                <div class="col-3 col-md-2">TITULO:</div>
                <div class="col-9 col-md-6">
                    <input type="text" class="form-control" id="txtTituloPelicula" name="txtTituloPelicula" required />
                </div>
            </div>
            <div class="row p-1">
                <div class="col-3 col-md-2">GENERO:</div>
                <div class="col-9 col-md-2">
                    <input type="text" class="form-control" id="txtGeneroPelicula" name="txtGeneroPelicula" required />
                </div>
            </div>
            <div class="row p-1">
                <div class="col-3 col-md-2">DIRECTOR:</div>
                <div class="col-9 col-md-6">
                    <input type="text" class="form-control" id="txtDirectorPelicula" name="txtDirectorPelicula" required />
                </div>
            </div>
            <div class="row p-1">
                <div class="col-3 col-md-2">SINOPSIS:</div>
                <div class="col-9 col-md-10">
                    <input type="text" class="form-control" id="txtSinopsisPelicula" name="txtSinopsisPelicula" required />
                </div>
            </div>
            <div class="row p-1">
                <div class="col-3 col-md-2">DURACION:</div>
                <div class="col-9 col-md-2">
                    <input type="text" class="form-control" id="txtDuracionPelicula" name="txtDuracionPelicula" required />
                </div>
            </div>
            <div class="row p-1">
                <div class="col-3 col-md-2">CLASIFICACION:</div>
                <div class="col-9 col-md-8">
                    <input type="text" class="form-control" id="txtClasificacionPelicula" name="txtClasificacionPelicula" required />
                </div>
            </div>
            <div class="row p-1">
                <div class="col-3 col-md-2">CARATULA:</div>
                <div class="col-9 col-md-8">
                    <div class="mb-3">
                        <label for="imgCaratulaPelicula" class="form-label">Selecione una imagen</label>
                        <input onchange="seleccionarCaratulaPelicula(this)" class="form-control" type="file" id="imgCaratulaPelicula" accept="image/*">
                    </div>
                </div>
                <div class="col-3 col-md-2">
                    <img height="20" src="" class="img-thumbnail rounded" alt="Caratula del pelicula" id="imgMostrarCaratulaPelicula">
                </div>
            </div>
            <div class="row p-1">
                <div class="col-12 text-center">
                    <input type="submit" class="btn btn-primary" value="Guardar" />
                    <input type="reset" class="btn btn-warning" value="Nuevo" />
                    <input type="button" onclick="abrirVentana('busqueda_pelicula')" class="btn btn-success" value="Buscar" />
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    var archivo;
    async function seleccionarCaratulaPelicula(file){
        let img = $(file)[0]?.files[0] || null;
        if (img) {
            archivo = await procesarImg(img);
            $("#imgMostrarCaratulaPelicula").attr("src", archivo);
        }
    }
    function procesarImg(img) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(img);
            reader.onload = () => resolve(reader.result);
            reader.onerror = error => reject(error);
        });
    }
    frmPelicula.addEventListener('submit', e => {
        e.preventDefault();
        guardarPeliculas();
    });
    frmPelicula.addEventListener('reset', e => {
        e.preventDefault();
        nuevoPeliculas();
    });
    async function guardarPeliculas() {
        try {
            let datos = {
                titulo: txtTituloPelicula.value,
                genero: txtGeneroPelicula.value,
                director: txtDirectorPelicula.value,
                sinopsis: txtSinopsisPelicula.value,
                duracion: txtDuracionPelicula.value,
                clasificacion: txtClasificacionPelicula.value,
                caratula: archivo.split(',')[1] || null,
            },
                method = "POST",
                url = 'https://localhost:7171/api/Peliculas';
            if (frmPelicula.dataset.accion == "modificar") {
                datos.idPelicula = frmPelicula.dataset.idpelicula;
                method = "PUT";
                url = `https://localhost:7171/api/Peliculas/${datos.idPelicula}`;
            }
            const respuesta = await fetch(url, {
                method,
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(datos)
            });

            if (!respuesta.ok) {
                throw new Error(`Error: ${respuesta.status} ${respuesta.statusText}`);
            }

            const pelicula = await respuesta.json();
            if (pelicula && pelicula?.idPelicula > 0) {
                nuevoPeliculas();
                listarPeliculas();
            } else {
                console.error('No se pudo guardar la película.');
            }
        } catch (error) {
            console.error('Hubo un problema con la operación fetch:', error);
        }
    }

    function modificarPelicula(pelicula) {
        frmPelicula.dataset.idpelicula = pelicula.idPelicula;
        frmPelicula.dataset.accion = "modificar";
        txtTituloPelicula.value = pelicula.titulo;
        txtGeneroPelicula.value = pelicula.genero;
        txtDirectorPelicula.value = pelicula.director;
        txtSinopsisPelicula.value = pelicula.sinopsis;
        txtDuracionPelicula.value = pelicula.duracion;
        txtClasificacionPelicula.value = pelicula.clasificacion;
        archivo = 'data:image/png;base64,' + pelicula.caratula;
        $("#imgMostrarCaratulaPelicula").attr("src", archivo);
    }
    function nuevoPeliculas() {
        frmPelicula.dataset.idpelicula = "0";
        frmPelicula.dataset.accion = "nuevo";
        txtTituloPelicula.value = "";
        txtGeneroPelicula.value = "";
        txtDirectorPelicula.value = "";
        txtSinopsisPelicula.value = "";
        txtDuracionPelicula.value = "";
        txtClasificacionPelicula.value = "";
        archivo = null;
    }
</script>